#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Base";
            bindings = <
            &kp RIGHT_ARROW     //0
            &kp RIGHT_ARROW     //1
            &kp RIGHT_ARROW     //2
            &kp DOWN_ARROW      //3
            &kp LEFT_ARROW      //4
            &kp UP_ARROW        //5
            &kp ENTER           //6
            &mo 1               //7
            &kp LEFT_ARROW      //8
            &kp LEFT_ARROW      //9
            >;
        };
        setings_layer {
            display-name = "Settings";
            bindings = <
            &trans              //0
            &trans              //1
            &kp BACKSPACE       //2
            &rr                 //3
            &trans              //4
            &bt BT_CLR_ALL      //5
            &studio_unlock      //6
            &trans              //7
            &trans              //8
            &trans              //9
            >;
        };
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
};
/ {
    macros {
        rr: rr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp R>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp A &kp S &kp I &kp O>
                , <&macro_tap &kp SPACE>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp R>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp A &kp C &kp I &kp N &kp G>
                ;
        };
    };
};